.popup__input {
    line-height: 27px;
    width: calc(100% - 72px);
    margin: 30px 36px 0 36px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

@media (max-width: 510px) {
    .popup__input {
        width: calc(100% - 44px);
        margin: 30px 22px 0 22px
    }
}
