.profile {
    height: 120px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    box-sizing: border-box;
    align-items: center;
}

@media (max-width: 981px) {
    .profile {
        flex-direction: column;
        height: auto;
        gap: 0;
        margin-top: 42px;
    }
}
