.header__logo {
    width: 142px;
    height: 33px;
    margin: 0 0 41px 0;
}

@media (max-width: 682px) {
    .header__logo {
        width: 104px;
        height: 24px;
        margin-bottom: 32px;
    }
}
